build-static/
debug/
dist/
build.log
thirdparty/include/*
!thirdparty/include/darts.h
!thirdparty/include/utf8.h
!thirdparty/include/msvc/
!thirdparty/include/utf8/
!thirdparty/include/X11/
thirdparty/lib/*
thirdparty/bin/*
thirdparty/share/*
thirdparty/src/*/build/Win32/
thirdparty/src/*/build/Release/
node_modules/
*~
.*.swp
